
<footer>
  
  <p>&copy; <%= new Date().getFullYear() %> Weatherly App. All rights reserved.</p>
  <p>Developed by Soumya Suryan | <a href="https://github.com/soumyasuryan/">Contact Us</a></p>
  <!-- <p>
    <a href="#">Privacy Policy</a> | 
    <a href="#">Terms of Service</a> | 
    <a href="https://github.com/yourusername" target="_blank">GitHub</a>
  </p> -->
</footer>