<nav>
  <div class="logo"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" xml:space="preserve"
      style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:2">
      <path
        d="M23.634 36.002a2.284 2.284 0 0 0 2.162-1.554 6.098 6.098 0 0 1 5.813-4.214 6.166 6.166 0 0 1 5.842 4.204 2.25 2.25 0 0 0 2.133 1.532c.964.032 1.949.032 1.949.032a6.498 6.498 0 0 1 6.5 6.5v.003a6.501 6.501 0 0 1-6.5 6.499H21.684a6.5 6.5 0 0 1-6.499-6.499v-.003a6.497 6.497 0 0 1 6.499-6.5h1.95z"
        style="fill:none;stroke:#222a33;stroke-width:1.5px" />
      <path
        d="M11.864 44.68a6.499 6.499 0 0 1-4.5-6.184v-.003a6.499 6.499 0 0 1 6.499-6.5h3.778a6.163 6.163 0 0 1 6.147-5.768c2.76 0 5.099 1.82 5.88 4.324M37.232 26.996a6.107 6.107 0 0 1 2.98-.771 6.165 6.165 0 0 1 5.842 4.205 2.251 2.251 0 0 0 2.133 1.531c.964.032 1.95.032 1.95.032a6.501 6.501 0 0 1 6.499 6.5v.003a6.499 6.499 0 0 1-6.499 6.5h-2.6"
        style="fill:none;stroke:#222a33;stroke-width:1.5px" />
      <path
        d="M38.864 25.996c0-3.312 2.688-6 6-6a6.003 6.003 0 0 1 5.658 8M44.864 14.996v2M52.642 18.217l-1.414 1.415M55.864 25.996h-2M37.085 18.217l1.415 1.415"
        style="fill:none;stroke:#222a33;stroke-width:1.5px" />
    </svg>
    <h5> Weather.com</h5>
  </div>
  <form class="search-form" action="/search" method="POST">
    <input type="text" name="locn" placeholder="Search your city..." required />
    <button type="submit">
      <!-- Search icon SVG -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
        <path
          d="M55.146 51.887 41.588 38.33a21.49 21.49 0 1 0-3.259 3.259l13.558 13.558a2.3 2.3 0 1 0 3.259-3.259ZM29.5 44a14.5 14.5 0 1 1 14.5-14.5A14.516 14.516 0 0 1 29.5 44Z" />
      </svg>
    </button>
  </form>
</nav>